body {
	color: $colour-primary;
	font-family: $font-primary;
	font-size: $type-base-size;
	line-height: 1.4;
}

.header {
	padding-top: 0.5em;
}

.interactive {
	position: relative;
	margin-bottom: 1em;

	.center-line {
		position: absolute;
		left: 0;
		top: 229px;
		border-top: 2px dashed $colour-line;
		z-index: 1;
		width: 100%;
	}

	.container {
		z-index: 2;
	}

	figure {
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 20px;

		svg {
			margin-bottom: 1em;
		}

		figcaption {
			font-size: 0.8em;
			text-align: center;
		}
	}

	.alternator-side,
	.alternator-front {
		margin-right: 20px;
	}

	.alternator-front,
	.graph {
		margin-left: 20px;
	}

	.axis {
		stroke-width: 1;
		stroke: $colour-line;
	}

	@include media($container-max-width) {
		display: none;
	}
}

.panel {
	&__row {
		padding: 0 0 0.5em;

		label {
			display: inline-block;
			width: 200px;
		}
	}
}

.main {
	margin-bottom: 1em;
}

.footer {
	margin: 1em 0;

	p {
		font-size: 0.8em;
		text-align: center;
	}
}

.stator-body {
	stroke-width: 2px;
	stroke: #000;
	fill: none;
}

.coil {
	stroke-width: 16px;
	stroke: #C87533;
	fill: white;
}

.rotor-body {
	opacity: 0.05;
	fill: #000;
}

.bolt-hole {
	stroke: black;
	stroke-width: 1px;
	fill: white;
}

.magnet {
	stroke-width: 1;
	stroke: black;
	fill: silver;
}

.flux {
	stroke-width: 2;
	stroke: green;
	fill: none;
}

#graph {
	padding-right: 1px;

	path {

		stroke-width: 2;
		fill: none;
	}
}

.phase1 {
	stroke: steelblue;
}

.phase2 {
	stroke: red;
}

.phase3 {
	stroke: green;
}

.wire-phase1 {
	fill: steelblue;
}

.wire-phase2 {
	fill: red;
}

.wire-phase3 {
	fill: green;
}
